.env
hydra/
plexms/
portainer/
radarr/
shared/
sonarr/
tautulli/
unifi/
unifistats/
ombi/
heimdall/
pihole/
sabnzbd/
transmission/
homebridge/
sonarr4k/
radarr4k/
prowlarr/
traefik/traefik.toml
traefik/acme/acme.json

