.env
data/glances_password
plexms/
portainer/
radarr/
shared/
sonarr/
tautulli/
unifi/
pihole/
sabnzbd/
transmission/
homebridge/
sonarr4k/
radarr4k/
prowlarr/
whisparr/
bazarr/
bazarr4K/
bazarr4k/
jellyfin/
overseerr/
plex-utills/
scrypted/
tdarr/
homarr/
kometa/
uptime-kuma/
vaultwarden/
ownfoil/
home-assistant/
homeassistant/
threadfin/
ollama/
open-webui/
n8n/
n8nPostgres/
actual-budget/
ytptube/
